@import '../tokens/variables-light.css';

:root {
  --color-success: var(--color-status-success);
  --color-warning: var(--color-status-warning);
  --color-error: var(--color-status-error);
  --color-info: var(--color-status-info);
}

html.dark {
  --color-text-primary: var(--color-neutral-white);
  --color-text-secondary: var(--color-neutral-50);
  --color-background-primary: var(--color-neutral-900);
  --color-background-secondary: var(--color-neutral-600);
  --color-border-default: var(--color-neutral-600);
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    --color-text-primary: var(--color-neutral-white);
    --color-text-secondary: var(--color-neutral-50);
    --color-background-primary: var(--color-neutral-900);
    --color-background-secondary: var(--color-neutral-600);
    --color-border-default: var(--color-neutral-600);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background: var(--color-background-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--typography-font-family-base), sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
